
BasedOnStyle:  Google
AccessModifierOffset: -2

BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit:     800
MaxEmptyLinesToKeep: 3

